* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

header {
  background-color: #333;
  height: 5em;
  color: #fff;
  margin-bottom: 1em;
}

header h1 {
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
}
header h2 {
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
}

header .container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

section {
  margin: 2em 0;
  overflow: hidden;
}
section h2 {
  font-size: 2em;
  display: block;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.5em;
}
table {
  width: 100%;
  margin-bottom: 0.5em;
  table-layout: fixed;
}

td,
th {
  padding: 0.7em;
  margin: 0;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #eee;
}
.imagem-filtro {
  width: 13px;
  height: 15px;
  border: 0;
}
.botao-filtro {
  width: 15px;
  height: 15px;
  border: 0;
  margin-left: 5px;
  float: right;
}
label {
  color: #555;
  display: block;
  margin-bottom: 0.2em;
}
.campo {
  margin: 0;
  padding-bottom: 1em;
  width: 100%;
  border: 1px solid rgb(196, 196, 196);
  padding: 0.7em;
  width: 100%;
}

.campo-medio {
  display: inline-block;
  padding-right: 0.5em;
  margin-bottom: 10px;
}
tr:nth-child(even) {
  background: rgb(241, 240, 240);
}

.grupo {
  width: 32%;
  display: inline-block;
  padding: 10px 0px;
}

.bto-principal {
  padding: 0.5em 2em;
  border: 0;
  border-bottom: 3px solid;
  font-size: 1.2em;
  cursor: pointer;
  margin: 0;
  margin-top: -3px;
  color: #fff;
  background-color: #0c8cd3;
  border-color: #04324c;
  width: 20%;

  clear: both;
  margin: 10px 0px;
}

button:active {
  margin-top: 0px;
  border: 0;
}

.invisivel {
  display: none;
}
